.cover__subtitle {
  position: relative;
  z-index: 2;
  max-width: 360px;
  margin: 32px auto 343px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.cover__subtitle:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    margin-bottom: 74px;
  }
}

@media screen and (max-width: 430px) {
  .cover__subtitle {
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 16px auto 33px;
  }
}
