.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px - 48px);
  align-self: center;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px - 24px);
  }
}
