.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 92px auto 0;
  max-width: 1184px;
  width: calc(100% - 48px - 48px);
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
}

@media screen and (max-width: 1220px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
   margin-top: 90px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
   margin-top: 78px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
   margin-top: 66px;
  }
}
