.place {
  display: grid;
  grid-template-columns: 46.75% 49.18%;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 4.07%;
  row-gap: 48px;
}

.place:not(:first-child) {
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.41% 49.14%;
    column-gap: 3.45%;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 47.22% 48.7%;
    column-gap: 3.89%;
  }

  .place:not(:first-child) {
    margin-top: 73px;
  }
}

@media screen and (max-width: 430px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place:not(:first-child) {
    margin-top: 50px;
  }
}

