.place {
  display: grid;
  grid-template-columns: 46.75% 49.18%;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 4.07%;
  row-gap: 4.88%;
}

.place:not(:first-child) {
  margin-top: 80px;
}
